<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons [routerLink]="['/login']" slot="start">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [routerLink]="['/login']">RegistreUser</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="fb" (ngSubmit)="registre()">
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-card>
          <ion-item>
            <ion-label position="floating">Nombres Completos</ion-label>
            <ion-input
              type="text"
              formControlName="full_name"
              placeholder="Nombre Completo"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellidos Completos</ion-label>
            <ion-input
              type="text"
              formControlName="last_names"
              placeholder="Apellidos Completos"
            >
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Tipo de Cedula</ion-label>
            <ion-select value="dog" formControlName="type_number_id">
              <ion-select-option
                value="{{item.key}}"
                *ngFor="let item of typeNumberId | keyvalue"
                >{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Cedula de Identidad</ion-label>
            <ion-input
              type="text"
              formControlName="number_id"
              placeholder="Cedula de Identidad"
            >
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="text"
              formControlName="email"
              placeholder="Corro Electronico"
            >
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input
              type="text"
              formControlName="number_phone"
              placeholder="Numero Telefonico"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contrasena</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              placeholder="Contrasena"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar Contrasena</ion-label>
            <ion-input
              type="password"
              (ionBlur)="validationPasswor($event)"
              formControlName="password_confirmation"
              placeholder="Confirmar Contrasena"
            >
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Tipo de Usuario</ion-label>
            <ion-select value="dog" formControlName="role_id">
              <ion-select-option
                value="{{item.key}}"
                *ngFor="let item of typeUser | keyvalue"
                >{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button
            type="submit"
            [disabled]="this.fb.invalid"
            color="primary"
            expand="block"
            >Registrar</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
