<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title [routerLink]="['/login']">RegistreUser</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <form [formGroup]="fb" (ngSubmit)="registre()">
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-card>
          <ion-item>
            <ion-label position="floating">Nombres Completos</ion-label>
            <ion-input type="text" formControlName="FullName" placeholder="Nombre Completo">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellidos Completos</ion-label>
            <ion-input type="text" formControlName="LastNames" placeholder="Apellidos Completos">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Tipo de Cedula</ion-label>
            <ion-select value="dog" formControlName="typeNumberId">
              <ion-select-option value="{{item.key}}" *ngFor="let item of typeNumberId | keyvalue">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-item>     

          <ion-item>
            <ion-label position="floating">Cedula de Identidad</ion-label>
            <ion-input type="text" formControlName="NumberId" placeholder="Cedula de Identidad">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="text"
              formControlName="email"
              placeholder="Corro Electronico"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contrasena</ion-label>
            <ion-input type="password" formControlName="password" placeholder="Contrasena">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar Contrasena</ion-label>
            <ion-input type="password" formControlName="password_confirmation" placeholder="Confirmar Contrasena">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Tipo de Usuario</ion-label>
            <ion-select value="dog" formControlName="typeUser">
              <ion-select-option value="{{item.key}}" *ngFor="let item of typeUser | keyvalue">{{item.value}}
              </ion-select-option>
            </ion-select>
          </ion-item>  

          <ion-button
            type="submit"
            [disabled]="this.fb.invalid"
            color="primary"
            expand="block"
            >Submit</ion-button
          >
        </ion-card>
      </ion-col> 
        
    </ion-row>
  </form>

</ion-content>

