<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="fb" (ngSubmit)="login()">
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-card>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" placeholder="Email">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contrasena</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              placeholder="Contrasena"
            >
            </ion-input>
          </ion-item>

          <ion-button
            type="submit"
            [disabled]="this.fb.invalid"
            color="primary"
            expand="block"
            >Submit</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="3" sizeMd="3" sizeXs="3" offset="7">
        <ion-button class="registre-button" [routerLink]="['/registre-user']"
          >!Registrarse Aqui</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
