<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title [routerLink]="['/home']">product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fb" (ngSubmit)="submitForm()">
    <ion-input
      type="text"
      placeholder="Nombre"
      formControlName="name"
    ></ion-input>

    <ion-input
      type="text"
      placeholder="Descripcion"
      formControlName="description"
    ></ion-input>

    <ion-input
      type="text"
      placeholder="Precio"
      formControlName="price"
    ></ion-input>

    <ion-input
      type="text"
      placeholder="Limite Minimo de Productos"
      formControlName="stopMin"
    ></ion-input>

    <ion-input
      type="text"
      placeholder="Limite Maximo de Productos"
      formControlName="stopMax"
    ></ion-input>
   
    <ion-item>
      <ion-input
      type="file"
      placeholder="cargar imagen"
      formControlName="image"
      (change)="capturarFile($event)"
      accept=""
    ></ion-input>
    </ion-item>

    <div *ngIf="showImage">
    <img [src]="previsualizacion" alt="" width="100px" height="100px">
    </div>

    <ion-button
      type="button"
      color="primary"
      expand="block"
      [disabled]="this.fb.invalid"
      (click)="submit()"
      >Agregar productos</ion-button
    >
  </form>
</ion-content>
