<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title [routerLink]="['/product']">publications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
   <ion-col sizeLg="6" sizeMd="6" sizeXs="4" *ngFor="let item of publications ">
        <ion-card  [routerLink]="['/detailsProduct',item.id]">
          <img src="https://4650-190-202-2-197.ngrok.io/api/products/{{item.image[0]}}" style="width: 70px; height: 65px;" />
           <div class="card-title" > {{item.name}}</div>
       </ion-card>
     </ion-col>
  </ion-row>
</ion-content>