<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons [routerLink]="['/home']" slot="start">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [routerLink]="['/home']">publicaciones</ion-title>

    <ion-buttons (click)="seedNotifications()" slot="end">
      <ion-button>
        <ion-text class="text-list">{{this.notifications.length}}</ion-text>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons (click)="seedCar()"  slot="end">
      <ion-button>
        <ion-icon name="cart-outline"> </ion-icon>
        <ion-text class="text-list"></ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col
      sizeLg="6"
      sizeMd="6"
      sizeXs="6"
      *ngFor="let item of publications.publications "
    >
      <ion-card>
        <ion-item>
          <ion-buttons slot="end">
              <ion-icon
              (click)="editProducto(item)"
                style="color: black"
                name="pencil-outline"
              ></ion-icon>
              <ion-icon
                style="color: black"
                name="trash-outline"
                (click)="deleteProducto(item)"
              ></ion-icon>
          </ion-buttons>         
        </ion-item>

        <img
          [routerLink]="['/home/detailsProduct',item.id]"
          src="http://localhost/{{item.gallerys_images[0].url_image}}"
          style="width: 120px; height: 100px"
        />

        <ion-col sizeLg="3" sizeMd="3" sizeXs="3">
          <div class="card-title">{{item.name}}</div>
        </ion-col>

        <ion-col sizeLg="3" sizeMd="3" sizeXs="3">
          <div class="card-title">$ {{item.price}}</div>
        </ion-col>

        <ion-col sizeLg="3" sizeMd="3" sizeXs="3">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="addCar(item)">
                <ion-icon
                  style="color: black"
                  name="add-circle-outline"
                ></ion-icon>
              </ion-button>
              <ion-input class="count-producto" type="number" id="count+item.id" (ionChange)="handlerInput($event.target.value)" value="1"></ion-input>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
